*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 78, 78, .7);
}

.container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 50px;
}

.raccolta {
    position: relative;
}

img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    
}

.image {
    display: none;
}

.up {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: xx-large;
    background-color: rgb(250, 235, 215, .5);
    padding: .3em;
    border-radius: 50%;
    color: rgb(31, 29, 29);
    object-fit: contain;
}

.down {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    font-size: xx-large;
    background-color: rgb(250, 235, 215, .5);
    padding: .3em;
    border-radius: 50%;
    color: rgb(31, 29, 29);
    object-fit: contain;
}

.visibile {
    display: block;
}

.nonvisibile {
    display: none;
}
