/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
body {
    background-color: rgb(27, 78, 78, .7);
}

/* CONTAINER DEL DIV RACCOLTA */
.container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 50px;
}

/* CONTAINER IMMAGINI */
.raccolta {
    position: relative;
}

/* DIMENSIONI IMG */
img {
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    
}

/* DISPLAY NONE DEFAULT */
.image {
    display: none;
}

/* DISPLAY BLOCK */
.visibile {
    display: block;
}

/* DISPLAY NONE DOPO CHE SI PREME IL BOTTONE */
.nonvisibile {
    display: none;
}


/* BOTTONE UP */
.up {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: xx-large;
    background-color: rgb(250, 235, 215, .5);
    padding: .3em;
    border-radius: 50%;
    color: rgb(31, 29, 29);
    object-fit: contain;
}

/* BOTTONE DOWN */
.down {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    font-size: xx-large;
    background-color: rgb(250, 235, 215, .5);
    padding: .3em;
    border-radius: 50%;
    color: rgb(31, 29, 29);
    object-fit: contain;
}



